.error-field {
  border: 1px solid red !important;
}

div.card-header h1 {
  color: #2f353a;
  font-weight: bold;
}

div.card-header h1 i {
  color: #f86c6b;
}

div.card-header h2 i {
  color: #f86c6b;
}

div.card-body h2 i {
  color: #f86c6b;
}

div.card-body h3 i {
  color: #f86c6b;
}

td p {
  margin-bottom: 0.4em !important;
}

form label {
  color: gray;
}

div.progress-20{
  height: 20px;
}

div.progress-30{
  height: 30px;
}

div.progress-50{
  height: 50px;
}

.stars input[type=radio]{
  display: none;
}

.stars label i.fa:before{
  content: '\f005';
  color: #FFC107;
  font-size: 2.5em;
  margin: 0 5px;
  cursor: pointer;
}

.stars input[type=radio]:checked ~ label i.fa:before{
  color: #CCC;
  cursor: pointer;
}

.super-icon {
  font-size: 10em;
}

.size-2{
  height: 20px;
}
.size-3{
  height: 30px;
}
.size-4{
  height: 40px;
}
.size-5{
  height: 50px;
}
.size-8{
  height: 80px;
}
.size-10{
  height: 100px;
}

.bread{
  list-style: none;
}
.bread li{
  display: inline;
}
