
div.card-header h1 {
  color: #2f353a;
  font-weight: bold;
}

div.card-header h1 i {
  color: #f86c6b;
}

div.card-header h2 i {
  color: #f86c6b;
}

div.card-body h2 i {
  color: #f86c6b;
}

div.card-body h3 i {
  color: #f86c6b;
}

td p {
  margin-bottom: 0.4em !important;
}

form label {
  color: gray;
}

div.progress-20{
  height: 20px;
}

div.progress-30{
  height: 30px;
}

div.progress-50{
  height: 50px;
}

.stars input[type=radio]{
  display: none;
}

.stars label i.fa:before{
  content: '\f005';
  color: #FFC107;
  font-size: 2.5em;
  margin: 0 5px;
  cursor: pointer;
}

.stars input[type=radio]:checked ~ label i.fa:before{
  color: #CCC;
  cursor: pointer;
}

.super-icon {
  font-size: 10em;
}

.certificate {
  background-image: url('../img/moldura01.png');
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 800px;
  height: 500px;
  background-position: 50% 50%;
  padding: 4px;
}

.certi {
  width: 800px;
  height: 500px;
  background-image: url('../img/moldura01.png');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
}
